<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gilad Naaman</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheet.css" type="text/css">
    </head>
    <body>
        <div id="header">
            <a id="title" href="/">Gilad Naaman</a>

            <div id="tray">
                <a href="https://www.linkedin.com/in/gilad-naaman-b6164214a/">linky dinky</a>
                <a href="https://github.com/Gilnaa">code</a>
                <a href="/blog">blog</a>
            </div>
        </div>
        <section class="section">
           <div class="container">
               {% block content %} {% endblock %}
           </div>
       </section>
    </body>
</html>

